<h4>BLTouch Settings</h4>
Enter the GCODE commands necessary for the BLTouch to work with your firmware.  Default settings are for Marlin.
<form class="form-horizontal" id="settings_plugin_BLTouch_form">
	<div class="control-group">
		<label class="control-label">{{ _('Probe Up') }}</label>
		<div class="controls">
			<input type="text" class="input-block-level" data-bind="value: settings.plugins.BLTouch.cmdProbeUp"></input>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label">{{ _('Probe Down') }}</label>
		<div class="controls">
			<input type="text" class="input-block-level" data-bind="value: settings.plugins.BLTouch.cmdProbeDown"></input>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label">{{ _('Self Test') }}</label>
		<div class="controls">
			<input type="text" class="input-block-level" data-bind="value: settings.plugins.BLTouch.cmdSelfTest"></input>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label">{{ _('Release Alarm') }}</label>
		<div class="controls">
			<input type="text" class="input-block-level" data-bind="value: settings.plugins.BLTouch.cmdReleaseAlarm"></input>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label">{{ _('Probe Bed') }}</label>
		<div class="controls">
			<textarea rows="3" class="input-block-level" data-bind="value: settings.plugins.BLTouch.cmdProbeBed"></textarea>
		</div>
	</div>
    <div class="control-group">
		<label class="control-label">{{ _('Repeatibility Test') }}</label>
		<div class="controls">
			<input type="text" class="input-block-level" data-bind="value: settings.plugins.BLTouch.cmdRepeatability"></input>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label">{{ _('Save') }}</label>
		<div class="controls">
			<input type="text" class="input-block-level" data-bind="value: settings.plugins.BLTouch.cmdSaveSettings"></input>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label">{{ _('Confirmations') }}</label>
		<div class="controls">
				<input type="checkbox" data-bind="checked: settings.plugins.BLTouch.confirmation" title="If enabled Self Test, Release Alarm, Probe Bed, and Save commands above will show confirmation prompt."/>
		</div>
	</div>
</form>
