<h4>BLTouch Settings</h4>
Enter the GCODE commands necessary for the BLTouch to work with your firmware.  Default settings are for Marlin.
<form class="form-horizontal" id="settings_plugin_BLTouch_form">
	<div class="control-group">
		<label class="control-label">{{ _('Pin Up Command') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.BLTouch.cmdProbeUp">
        </div>
    </div>
	<div class="control-group">
		<label class="control-label">{{ _('Pin Down Command') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.BLTouch.cmdProbeDown">
        </div>
    </div>
	<div class="control-group">
		<label class="control-label">{{ _('Self Test Command') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.BLTouch.cmdSelfTest">
        </div>
    </div>
	<div class="control-group">
		<label class="control-label">{{ _('Release Alarm Command') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.BLTouch.cmdReleaseAlarm">
        </div>
    </div>
</form>